{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content p-3">
    <div class="row">
        <div class="col-md-12">
            <h5 align="center">User Information</h5>
        </div>
    </div>
    {% if users|length < 1 %}
    <h4 style="text-align: center">There are no task! Create one</h4>
    {% else %}
    <div class="row">
        <div class="col-md-10">
<table class="table table-striped p-3">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Company Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">District</th>
        <th scope="col">State</th>
        <th scope="col">Pincode</th>
        <th scope="col">GSTIN</th>
        <th scope="col">Pwd</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr scope="row">
        <td>{{ user.id }}</td>
        <td>{{ user.company_name }}</td>
        <td>{{ user.First_Name }}</td>
        <td>{{ user.Last_name }}</td>
        <td>{{ user.Phone }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.Address }}</td>
        <td>{{ user.City }}</td>
        <td>{{ user.District }}</td>
        <td>{{ user.State }}</td>
        <td>{{ user.Pincode }}</td>
        <td>{{ user.gstin }}</td>
        <td>{{ user.pwd }}</td>
        <td>
            <a class="btn btn-outline-info btn-sm" href="/update/{{user.id}}">Update</a>
            <a class="btn btn-outline-info btn-sm" href="/delete/{{user.id}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
     {% endif %}
        </div>
    </div>
</div>
{% endblock %}